@media (max-width: 900px) {
    .header .menu {
        display: block;
    }

    .header nav ul {
        display: none;
    }

    .header input:checked~ul {
        display: block;
    }

    .header nav {
        position: absolute;
        top: 8px;
        right: 0;
        z-index: 1;
        right: 20px;
    }

    .header nav ul {
        width: 200px;
        background-color: #fff;
        padding: 20px;
    }

    .header nav ul a {
        display: block;
        text-align: center;
        padding: 20px;
    }

    .home {
        display: block;
        height: 100vh;
        margin: 0;
        padding: 0;
        min-width: 450px;
    }
    .container {
        height: 100%;
        min-width: 450px;
    }
    .container-img {
        display: block;
        height: 200px;
        align-items: center;
    }
    .container-img img {
        display: block;
        justify-content: center;
        width: 200px;
        padding: 0;
        margin: 0 auto;
    }

    .container-video {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        height: 40%;
    }
    
    .container-video iframe {
        display: block;
        justify-content: center;
        align-items: center;
        width: 400px;
        margin: 0 auto;
        padding: 10px;
        height: 100%;
    }

    .container-h2 {
        display: block;
        margin-bottom: 50px;
        text-align: center;
        font-size: 16px;
    }
}